@import "tailwindcss";

:root {
  --primary: #e8b924;
  --primary-dark: #ddc25d;
  --primary-light: #f6e9a6;
  --secondary: #d5c37d;
  --accent: #fcf8d6;
  --background: #fafaf3;
  --foreground: #0e0e10;
  --gray-light: #b9b9b9;
  --gray-dark: #4d4d4d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}